#include "keypos.dtsi"

// please
combo_please {
  timeout-ms = <50>;
  key-positions = <POS_P POS_L>;
  bindings = <&kp Y>;
};

// academy
combo_academy {
  timeout-ms = <50>;
  key-positions = <POS_A POS_Y>;
  bindings = <&kp Z>;
};
